mixin pokeForm(card, buttonText, saveUrl, cancelUrl, deleteUrl)
    form(action=saveUrl method="post")
        div.input-container
            label(for="name").form-label Name
            input(type="text" name="name" id="name" required=true placeholder="Pokemon Name" value=card.name)

        div.input-container
            label(for="hp").form-label Health Points
            input(type="number" min="10" name="hp" id="hp" required=true placeholder="Pokemon Name" value=card.name)

        div.input-container
            label(for='type').form-label Type
            select(id='type' name='type')
                each element in elements
                    option(value=element selected = (element === card.type)) #{element}

        div.input-container
            label(for="image").form-label Image
            input(type="text" name="image" id="image" required=true placeholder="Image Link" value=card.image)

        div.input-container
            div.input-container
                label(for="atk1nm").form-label Attack 1 Name
                input(type="text" name="atk1nm" id="atk1nm" required=true placeholder="Attack Name" value=card.atk1nm)
            div.input-container
                div.input-container
                    label(for="atk1en").form-label Attack Energy Cost
                    input(type="number" min="0" name="atk1en" id="atk1en" value=card.atk1en)
                    div.helper-text Energy cost of your mon type (except Colorless)
                div.input-container
                    label(for="atk1base").form-label Basic Energy Cost
                    input(type="number" min="0" name="atk1base" id="atk1base" value=card.atk1base)
                    div.helper-text Colorless type only uses basic energy card

        div.input-container
            div.input-container
                label(for="atk2nm").form-label Attack 2 Name
                input(type="text" name="atk2nm" id="atk2nm" required=true placeholder="Attack Name" value=card.atk2nm)
            div.input-container
                div.input-container
                    label(for="atk1en").form-label Attack Energy Cost
                    input(type="number" min="0" name="atk1en" id="atk2en" value=card.atk2en)
                    div.helper-text Energy cost of your mon type (except Colorless)
                div.input-container
                    label(for="atk1base").form-label Basic Energy Cost
                    input(type="number" min="0" name="atk1base" id="atk2base" value=card.atk2base)
                    div.helper-text Colorless type only uses basic energy card
                div.input-container
                    div.input-container
                        label(for='weak').form-label Weakness Type
                        select(id='weak' name='weak')
                            each ele in elesA
                                option(value=ele selected = (ele === card.weak)) #{ele}
                        label(for="weakquant").form-label Weakness Quantity
                        input(type="number" min="0" name="weakquant" id="weakquant" value=card.weakquant)
                    div.input-container
                        label(for='resist').form-label Resist Type
                        select(id='resist' name='resist')
                            each ele in elesA
                                option(value=ele selected = (ele === card.resist)) #{ele}
                        label(for="resistquant").form-label Resist Quantity
                        input(type="number" min="0" name="resistquant" id="resistquant" value=card.resistquant)

        a.button(href=cancelUrl) Cancel
        a.button(href=deleteUrl) Delete
        button.button.primary(type="submit") #{buttonText}